/*Css General*/
body{
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Georgia, Arial, serif;
    font-size: 0.8rem;
    background-color: #edf0f5;
}
/*Css barre de navigation*/
.nav{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
    padding-left: 4rem;
    padding-right: 2rem;
    background-color: #3e5b9a;
}
/*Css du titre facebook*/
.nav-titre{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    height: 6.25rem;
}
.logo{
    font-size: 3rem;
    color: #fff;
    background-color: #3e5b9a;
    width: 40%;
    padding-left: 9rem;
}
/*Css Côté input*/
.nav-sign{
    display: flex;
    flex-basis: 38%;
    align-items: center;
    height: 6.25rem;
    color: #fff;
    font-size: 0.9rem;
}
.nav-input{
    display: flex;
    flex-direction: row;
    height: 1.5rem;
    width: 11rem;
    border: solid 0.0625rem #3e5b9a;
    border-radius: 0.1875;
    margin-right: 0.6rem;
}
.nav-bouton{
    height: 1.5rem;
    border: solid 0.0625rem #29487c;
    background-color: #41619c;
    color: #fff;
    font-size: 0.6rem;
}
.nav-bouton:hover{
    background-color: #6990e5 ;
}
.nav-lien{
    text-decoration: none;
    color: #97afd5;
    margin-left: 12.6rem;
}
/*Css pour le conteneur*/
.conteneur{
    display: flex;
    flex-direction: row;
    flex-basis: 90%;
    flex-wrap: wrap;
    background-color: #edf0f5;
}
/*Css côté gauche*/
.conteneur-gauche{
    display: flex;
    flex-direction: column;
    flex-basis: 38%;
    padding-left: 6.25rem;
    font-size: 0.9rem;
    text-justify: distribute;
    padding-right: 2rem;
}
.boites-gauche{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3.125rem;
    color: #6d6d6e;
}
.icon-gauche{
    height: 3.75rem;
    width: 3.75rem;
    margin-right: 0.625rem;
}
.lien-gauche{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
/*Css côté droite*/
.conteneur-droite{
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-top: 1.875rem;
    font-size: 0.875rem;
    color: #6d6d6e;
}
/*Css des input conbté droite*/
.input-droites{
    height: 1.5rem;
    width: 11.875rem;
    margin-right: 0.625rem;
    font-size: 0.9rem;
}
.input-droite{
    height: 1.5rem;
    width: 25rem;
    font-size: 0.9rem;
}
/*Css des selecteurs*/
#selecteur{
    width: 3.4375rem;
    height: 1.5rem;
    margin-right: 0.3125rem;
    background-color: #fff;
}
/*css des h1*/
h1{
    color: black;
}
/*Css des titre Birthday et Gender*/
.td-titre{
    font-size: 1.3125rem;
    font-weight: bold;
}
.table{
    margin-bottom: 0.2rem;
}
/*Css des input arondi et les petits titres au niveau de genre male female et custom*/
.input-radio{
    color: black;
    margin-top: 1.1rem;
}
.genre{
    color: black;
    font-size: 0.9rem;
    margin-right: 1.25rem;
}
/*Css pour rendre certains mots terms, data .. en bleu*/
.span{
    color: #3d5e9b;
    font-weight: bold;
}
/*Css du bouton Sign Up*/
.signup-bouton{
    background-color: #5d964a;
    height: 1.7rem;
    width: 8.75rem;
    font-size: 1.0625rem;
    color: #fff;
    border: solid 0.0625rem #2f5416;
    border-radius: 0.25rem;
}
/*Css du lien "Create a page"*/
.lien_du-bas{
    color: #3C5C9b;
    font-weight: bold;
    text-decoration: none;
}
.barre{
    border-top: 0.0625rem solid #d6d8db;
}
h1{
    font-size: 2rem;
}